.patination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
}
.patination-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 30px;
    width: 30px;
    text-decoration: none;
    border: 1px solid #ddd;
    cursor: pointer;
}
.patination-container .active{
    background-color: rgb(73, 73, 230);
    color: white;
    border: 1px solid rgb(116, 116, 223);
}

.patination-container .disabled {
    opacity: 0.2;
}
.patination-container a:hover:not(.active) {
    background-color: rgb(238, 238, 238);
    color: blue;
    text-decoration: underline;
}