.but1{
    margin: 0 10px 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 80px;
}

.but1.active{
    background-color: rgb(110, 110, 238);
    color: white;
}

.footer{
    justify-content: center;
    align-items: center;
    display: flex;
    border-top: black solid 1px;
    
}

.but1:hover{
    background-color: rgb(110, 110, 238);
    cursor: pointer;
}