.but1{
    margin: 0 10px 0 10px;
}

.footer{
    justify-content: center;
    align-items: center;
    display: flex;
}

.but1:hover{
    background-color: rgb(62, 62, 232);
    cursor: pointer;
}