.body {
  position: relative;
  height: 100vh;
  
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:white;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#light{
  background-color: rgba(188, 148, 148, 0.847);
}

#dark{
  background-color: rgb(115, 84, 84);
}

#dark .container{
  background-color: rgb(225, 64, 64);
}


/* #dark .container{
  background-color: red;
} */